#root {
  margin: 0 auto;
  padding: 2rem;
}

.inputs-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .results-wrapper {
    display: flex;
    flex-direction: column;
  }
}
