#root {
  margin: 0 auto;
  padding: 20px;
}

.inputs-wrapper {
  display: flex;
  flex-direction: row;
align-items: center;
gap: 30px;
}

.app {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .results-wrapper {
    display: flex;
    flex-direction: column;
     padding: 0px;
  }
}
